.main {
  border: none;
  padding: 0.65rem;
  background-color: burlywood;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.danger {
  background-color: rgb(136, 23, 23);
  color: white;
}
