.main {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgWrapper {
  height: 100%;
  border: 1px solid black;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.itemInfo {
  padding: 2rem;
}
