.main {
  background-color: rgb(226, 252, 255);
  padding: 2rem;
  width: 400px;
  height: 500px;
  border: 2px solid rgb(177, 177, 177);
  border-radius: 1rem;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
}

.main button {
  height: 40px;
}
