.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
}

.main input {
  padding: 0.65rem;
}

.error {
  color: rgb(169, 32, 32);
  margin: 0;
}
